/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /*Переменные шрифтов*/
  --font-regular: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-regular-weight-text: 400;
  --font-regular-weight-title: 700;
  --font-accent-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-accent-text-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-regular-size: 18px;
  --font-btn-size: 14px;
  --font-watermark-size: 14px;

  /*Переменные цветов*/
  --accent-color: #000;
  --stroke-color: #fff;
  --btn-bg-color: #fff;
  --heart-countur: #000;
  --heart-fill: #ff0000;

  /*Перменные размеров*/
  --header-padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  --section-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --section-height: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  --dialog-width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  --save-button-width: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);

  /*Прочее*/
  --heart-opacity: 0;
  --bg-image: repeating-linear-gradient(
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
}
